:root {
  --first-primary: #3a3042;
  --first-alternate: #414043;
  --second-primary: #db9d47;
  --second-alternate: #ffe19c;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  height: 32px;
  width: 60px;
}

.toggle > input {
  display: none;
}

.slider {
  border: 3px solid var(--first-primary);
  border-radius: 8px;
  background-color: var(--second-primary);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.slider::before {
  content: "";
  height: 22px;
  width: 22px;
  border: 3px solid var(--first-alternate);
  border-radius: 8px;
  background-color: crimson;
  margin: 1px;
  transition: all 500ms ease-in-out;
}

.toggle > input:checked + .slider {
  background: var(--second-alternate);
}

.toggle > input:checked + .slider::before {
  transform: translateX(24px) rotate(90deg);
  background-color: forestgreen;
  content: "";
}
